<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% if page.path contains "index" %}
    <title>{{ site.title }}</title>
    {% elsif site.short_title %}
      <title>{{ page.path | remove: ".md" | replace: "-", " " }} | {{ site.short_title }}</title>
    {% else %}
      <title>{{ page.path | remove: ".md" | replace: "-", " " }}</title>
    {% endif %}
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
	{% capture side_include %}{% include_relative _Sidebar.md %}{% endcapture %}
	{{ side_include | markdownify }}
      </header>
      <section>

	{% unless page.path contains "index" %}
  	  <h1>{{ page.path | remove: ".md" | replace: "-", " " }}</h1>
	{% endunless %}
	
        {{ content }}

        {% capture foot_include %}{% include_relative _Footer.md %}{% endcapture %}
	<div style="display: flex; justify-content: space-between"><small>{{ foot_include | markdownify }}</small></div>

      </section>
      <footer>
	<!--
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
	-->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
